.h85 {
    height: 85vh;
}

.textArea {
    width: 100% !important;
    height: auto !important;
    overflow: auto !important;
    resize: none;
}

.boxContent {
    align-content: flex-end !important;
    align-items: flex-end !important;
    display: flex !important;
    justify-content: space-between !important;
}

.bgBlue {
    background-color: rgba(0, 0, 0, 0.2) !important;
}